@model Item
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div>
    @Model.ImageUrl1
</div>
<div>
    @Model.ItemCategoryId
</div>
<div>
    @Model.ItemId
</div>
<div>
    @Model.ItemName
</div>
<div>
    @Model.UnitPrice
</div>