@model IEnumerable<ShoppingCart.Areas.Administration.ViewModels.AdminCategoryViewModel>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Index";
    Layout = "_AdminLayout";
}

<h2>Index</h2>

<p>
    <a asp-area="Administration" asp-controller="Admin" asp-action="AdminCategoryCreate" asp-route-id="@TempData["id"]">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ItemCategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SignUpId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ItemCategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SignUpId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                <a class="btn btn-primary btn-xs" asp-area="Administration" asp-controller="Admin" asp-action="AdminCategoryEdit" asp-route-id="@TempData["id"]" asp-route-edit="@item.ItemCategoryId">Edit</a>
            </td>
            <td>
                <a class="btn btn-danger btn-xs" asp-area="Administration" asp-controller="Admin" asp-action="AdminCategoryDelete" asp-route-id="@TempData["id"]" asp-route-delete="@item.ItemCategoryId">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
