@model ShoppingCart.ViewModels.HomeViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>




<div>Add Shopping Cart Logo gggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggg</div>
<div class="row">
    <div class="col-sm-3">
        <ul class="list-group">
            @foreach (var item in Model.ShopList)
            {
                <li class="list-group-item">@Html.Partial("ShopList", item.FullName )</li>
            }
        </ul>
        </div>
    <div class="thumbnail col-sm-9">
        @foreach (var item in Model.ItemList1)
        {
            <div class="col-sm-3">
                <div class="thumbnail">
                    <a href="@Html.Partial("ItemList", item.SignUpId)" target="_blank">
                        <img src="@Html.Partial("ItemList", item.ImageUrl1)" alt="Lights" style="width:100%">
                        <div>
                            @Html.Partial("ItemList", item.ItemName)
                        </div>
                        <div>
                            @Html.Partial("ItemList", item.UnitPrice)
                        </div>
                       
                        <div class="caption">
                            <p>@Html.Partial("ItemList", item.Description)</p>
                        </div>
                    </a>
                </div>
            </div>
        }
           
        </div>
</div>


